<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; CampCreeks 2024</span>
        <span class="text-muted">By Bhavya</span>
    </div>
</footer>

